
*.png
*.wav
*.pyc
__pycache__/generator.cpython-38.pyc
__pycache__/global_constants.cpython-38.pyc
__pycache__/hilbert.cpython-38.pyc
.vscode/.ropeproject/objectdb
__pycache__/generator.cpython-38.pyc
